html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

footer {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  width: 100%;
  background-color: black;
  color: white;
  justify-content: center;
  align-self: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  display: flex;
}

a { 
  color: inherit; 
}

header {
  margin: 1rem 1rem 0rem 1rem;
  font-size: 24px;
}

.content {
  display: grid;
  grid-template-columns: 0fr 2fr;
  column-gap: 1.5rem;
  overflow-y: scroll;
  height: 90vh;
}

.sidebar {
  padding: 2rem 1rem;
}

.fixed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  text-align: center;
}

.library_form {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.library_form > p:first-child {
  font-weight: 600;
  margin-bottom: 0rem;
}

.storage {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.storage_text {
  display: none;
}

.side_visible_container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
}

.read_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.library {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(175px, 1fr));
  row-gap: 2rem;
}

.book {
  border: 1px solid #000;
  background-color: #eee;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,.2);
  border-radius: 0.3rem;
  padding: 1rem;
  width: 12.5rem;
  height: 11.5rem;
}

.book > p {
  width: 11.5rem;
  padding: 0.2rem 0.5rem;
  /* Both of the following are required for text-overflow */
  white-space: nowrap;
  overflow-x: auto;
}

.book_icons > ul {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.book_icons ul, .book_icons li {
  list-style-type: none;
}

input {
  border: #E5E7EB solid 0.1rem;
  border-radius: 0.2rem;
  box-shadow: 0rem 0.5rem 0.9rem rgba(0,0,0,0.1);
  overflow: hidden;
}

input:invalid {
  border: rgb(185, 28, 28) solid 0.1rem;
}

input:valid {
  border: rgb(89, 109, 72) solid 0.1rem;
}

input:focus {
  border: rgb(29, 78, 216) solid 0.1rem;
  outline: none;
}

.alert {
  font-size: 12px;
  font-weight: normal;
  color: rgb(185, 28, 28);
}

.icon {
  filter: drop-shadow(1px 2px 0 rgb(184, 184, 184));
}

button {
  background-color: #E5E7EB;
  border: 1px solid #E5E7EB;
  border-radius: 1rem;
  padding: 0.5rem 0.7rem;
  filter: drop-shadow(1px 2px 0 rgb(184, 184, 184));
}

button:hover {
  filter: brightness(90%) drop-shadow(1px 2px 0 rgb(184, 184, 184));
}

.icon:active,
button:active {
  transform: translateY(4px) translateX(2px);
  filter: brightness(90%) drop-shadow(1px 1px 0 #666);
}